<div class="container">
  <h1>Ini Register</h1>
  <div class="row">
    <div class="col-md-6">
      <form method="post", action="/register">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="username" name="username" class="form-control" id="username" placeholder="Masukkan username" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Masukkan Email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
          <label for="checkPass" class="form-label">Password</label>
          <input type="password" name="confirmPass" class="form-control" id="confirmPass">
        </div>
        <div class="mb-3">
          <label for="checkPass" class="form-label">Password</label>
          <input type="password" name="confirmPass" class="form-control" id="confirmPass">
        </div>
        <div class="mb-3">
          <label for="tinggibadan" class="form-label">Tinggi Badan</label>
          <input type="text" name="tinggibadan" class="form-control" id="tinggibadan" placeholder="Masukkan Tinggi Badan" required>
        </div>
        <div class="mb-3">
          <label for="beratbadan" class="form-label">Berat Badan</label>
          <input type="text" name="beratbadan" class="form-control" id="beratbadan" placeholder="Masukkan Berat Badan" required>
        </div>
        <div class="mb-3">
          <label for="umur" class="form-label">Umur</label>
          <input type="text" name="umur" class="form-control" id="umur" placeholder="Masukkan Umur" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>